{% extends "base.html" %}
{% block title %} 虫虫读书 - 书单 {% endblock %}
{% block content %}
    <div class="row">
    <section class="col-lg-9 col-md-9 col-sm-9 libBox">
    <div class="article">
        <a class="btn btn-success" href="{% url 'books_app.views.create_book' %}"> <span class=" icon-plus icon-white" ></span>增加图书 </a>
    </div>
    {% for item in list_items.object_list %}
        <div class="thumb-pad3">
            <div class="thumbnail">
                <figure>
                    <a href="{% url 'books_app.views.view_book' item.id %}"><img src="{{item.cover_img}}"/></a>
                </figure>
                <div class="caption">
                    <h1>{{item.title}}</h1>
                    <P>作者: {{item.author}}——评分: {{item.rating}}——出版日期: {{item.pubdate}}</p>
                    <div class="intro">
                        <p>{{item.summary|truncatechars:100}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row-fluid">
        {% if list_items.has_previous %}
            <a href="?page={{ list_items.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
            Page {{ list_items.number }} of {{ list_items.paginator.num_pages }}.
        </span>
        {% if list_items.has_next %}
            <a href="?page={{ list_items.next_page_number }}">下一页</a>
        {% endif %}
    </div>
    </section>
                <article class="col-lg-3 col-md-3 col-sm-3">
                <form id="search" class="search" action="http://livedemo00.template-help.com/wt_48144/search.php" method="GET" accept-charset="utf-8">
                     <input type="text" name="s" value="Search" onFocus="if (this.value == 'Search') {this.value=''}" onBlur="if (this.value == '') {this.value='Search'}">
                     <a href="index.html#" onClick="document.getElementById('search').submit()"><img src="{{ STATIC_URL }}img/magnify.png" alt=""></a>
                </form>
                <h3><span class="fa fa-star"></span>NEW & NOTABLE</h3>
                <ul class="list2">
                    <li><a href="index.html#">Recent Activity</a></li>
                    <li><a href="index.html#">New Titles</a></li>
                    <li><a href="index.html#">Award Winners</a></li>
                    <li><a href="index.html#">Bestsellers</a></li>
                </ul>
                <h3><span class="fa fa-asterisk"></span>COLLECTIONS</h3>
                <ul class="list2">
                    <li><a href="index.html#">Books</a></li>
                    <li><a href="index.html#">E-books & Audiobooks</a></li>
                    <li><a href="index.html#">Movies</a></li>
                    <li><a href="index.html#">Music & Recordings</a></li>
                    <li><a href="index.html#">Periodicals</a></li>
                    <li><a href="index.html#">Images</a></li>
                    <li><a href="index.html#">Braille & Talking Books</a></li>
                </ul>
                <div class="locationBox">
                    <h3><span class="fa fa-map-marker"></span>Location</h3>
                    <p>8901 Marmora Road,<br>Glasgow, D04 89GR.</p>
                </div>
                <div class="locationBox">
                    <h3><span class="fa fa-user"></span>Admission</h3>
                    <p>Free</p>
                </div>
                <div class="locationBox">
                    <h3><span class="fa fa-clock-o"></span>Open</h3>
                    <p>10 am - 9 pm daily</p>
                </div>
            </article>
    </div>
{% endblock %}