{% extends "base.html" %}
{% load bootstrap_pagination %}
{% block title %} 虫虫读书 - 书单 {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div id="anony-reg">
    <div class="wrapper">
        <div class="login">
            {#<li><a class="btn btn-primary" href="{% url "login" %}">登录 </a></li>#}
            {#<li><a class="btn btn-default" href="{% url "register" %}">注册</a></li>#}
            {#<a class="btn btn-default" href="{% url "userena_signin" %}">购书单</a>#}
            {# <li><a class="btn btn-default" href="{% url "userena_signup" %}">注册</a></li> #}
        </form>
        </div>
        <div class="reg">
            <a class="lnk-reg" href="{% url 'books_app.views.booklist' %}">书单</a>
            <a class="btn-success pull-right" href="{% url "logout" %}">注销</a>
        </div>
    </div>
</div>
{% else %}
    <div id="anony-reg">
    <div class="wrapper">
        <div class="login">
            {#<li><a class="btn btn-primary" href="{% url "login" %}">登录 </a></li>#}
            {#<li><a class="btn btn-default" href="{% url "register" %}">注册</a></li>#}
            <a class="btn btn-default" href="{% url "userena_signin" %}">登录</a><i></i>
            {# <li><a class="btn btn-default" href="{% url "userena_signup" %}">注册</a></li> #}
        </form>
        </div>
        <div class="reg">
            <a class="lnk-reg" href="{% url "register" %}">加入我们<i>注册</i></a>
            <div class="nb-info">
                <b>发现更多好书</b>
            </div>
        </div>
    </div>
</div>
{% endif %}
    <div class="container">
    <section id="viewbook" class="col-lg-9 col-md-9 col-sm-9 libBox">
    {% for item in list_items.object_list %}
        <div class="thumb-pad3">
            <div class="thumbnail">
                <figure>
                    <a href="{% url 'books_app.views.view_book' item.id %}"><img src="{{item.cover_img}}"/></a>
                </figure>
                <div class="caption">
                    <a href="{% url 'books_app.views.view_book' item.id %}"><h2>{{item.title}}</h2></a>
                    <p>作者: {{item.author}}——评分: {{item.rating}}——出版日期: {{item.pubdate}}</p>
                    <div class="intro">
                        <p>{{item.summary|truncatechars:100}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        <div class="text-center">
            <ul class="pagination pagination-lg">
                            {% bootstrap_paginate list_items range=10 show_prev_next="false" show_first_last="true" %}
            </ul>
        </div>
    </section>
                <article class="col-lg-3 col-md-3 col-sm-3">
                <h3><span class="fa fa-star"></span>NEW & NOTABLE</h3>
                <ul class="list2">
                    <li><a href="index.html#">Recent Activity</a></li>
                    <li><a href="index.html#">New Titles</a></li>
                    <li><a href="index.html#">Award Winners</a></li>
                    <li><a href="index.html#">Bestsellers</a></li>
                </ul>
                <h3><span class="fa fa-asterisk"></span>COLLECTIONS</h3>
                <ul class="list2">
                    <li><a href="index.html#">Books</a></li>
                    <li><a href="index.html#">E-books & Audiobooks</a></li>
                    <li><a href="index.html#">Movies</a></li>
                    <li><a href="index.html#">Music & Recordings</a></li>
                    <li><a href="index.html#">Periodicals</a></li>
                    <li><a href="index.html#">Images</a></li>
                    <li><a href="index.html#">Braille & Talking Books</a></li>
                </ul>
                <div class="locationBox">
                    <h3><span class="fa fa-map-marker"></span>Location</h3>
                    <p>8901 Marmora Road,<br>Glasgow, D04 89GR.</p>
                </div>
                <div class="locationBox">
                    <h3><span class="fa fa-user"></span>Admission</h3>
                    <p>Free</p>
                </div>
                <div class="locationBox">
                    <h3><span class="fa fa-clock-o"></span>Open</h3>
                    <p>10 am - 9 pm daily</p>
                </div>
            </article>
    </div>
{% endblock %}
