
{% extends "base.html" %}

{% block title %} {{book_instance.subtitle}}(虫虫读书) {% endblock %}

{% block heading %} <h1> Book</h1><h2>View</h2>  {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div id="anony-reg">
    <div class="wrapper">
        <div class="login">
            {#<li><a class="btn btn-primary" href="{% url "login" %}">登录 </a></li>#}
            {#<li><a class="btn btn-default" href="{% url "register" %}">注册</a></li>#}
            {#<a class="btn btn-default" href="{% url "userena_signin" %}">购书单</a>#}
            {# <li><a class="btn btn-default" href="{% url "userena_signup" %}">注册</a></li> #}
        </form>
        </div>
        <div class="reg">
            <a class="lnk-reg" href="{% url 'books_app.views.booklist' %}">书单</a>
            <a class="btn-success pull-right" href="{% url "logout" %}">注销</a>
        </div>
    </div>
</div>
{% else %}
    <div id="anony-reg">
    <div class="wrapper">
        <div class="login">
            {#<li><a class="btn btn-primary" href="{% url "login" %}">登录 </a></li>#}
            {#<li><a class="btn btn-default" href="{% url "register" %}">注册</a></li>#}
            <a class="btn btn-default" href="{% url "userena_signin" %}">登录</a><i></i>
            {# <li><a class="btn btn-default" href="{% url "userena_signup" %}">注册</a></li> #}
        </form>
        </div>
        <div class="reg">
            <a class="lnk-reg" href="{% url "register" %}">加入我们<i>注册</i></a>
            <div class="nb-info">
                <b>发现更多好书</b>
            </div>
        </div>
    </div>
</div>
{% endif %}
    <div class="container">
        <section id="viewbook" class="col-lg-9 col-md-9 col-sm-9 libBox">
            <div class="article">
                <h1>{{book_instance.title}}</h1>
                    <div class="pull-left ">
                        <img src="{{book_instance.cover_img}}" />
                    </div>
                    <div id="info" class="">
                            <span class="pl">副标题: {{book_instance.subtitle}}</span><br>
                            <span class="pl">评分: {{book_instance.rating}}</span><br>
                            <span class="pl">作者: {{book_instance.author}}</span><br>
                            <span class="pl">译者: {{book_instance.translator}}</span><br>
                            <span class="pl">出版日期: {{book_instance.pubdate}}</span><br>
                            <span class="pl">页数: {{book_instance.pages}}</span><br>
                            <span class="pl">定价: {{book_instance.price}}</span><br>
                    </div>

                    <div class="intro">
                        <div class="ebook-promotion">

                        </div>
                        <h2 style="color: #072">
                            <span class="">内容简介</span>
                            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
                        </h2>
                        <p><<{{book_instance.title}}>>简介：{{book_instance.summary}}</p>
                        <h2 style="color: #072">
                            <span class="">作者简介</span>
                            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
                        </h2>
                        <p>{{book_instance.author_intro}}</p>
                        <h2 style="color: #072">
                            <span class="">书评</span>
                            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
                        </h2>
                        <p></p>
                    </div>
                </div>
            </section>
                <article class="col-lg-3 col-md-3 col-sm-3">
                <h3><span class="fa fa-star"></span>NEW & NOTABLE</h3>
                <ul class="list2">
                    <li><a href="index.html#">Recent Activity</a></li>
                    <li><a href="index.html#">New Titles</a></li>
                    <li><a href="index.html#">Award Winners</a></li>
                    <li><a href="index.html#">Bestsellers</a></li>
                </ul>
                <h3><span class="fa fa-asterisk"></span>COLLECTIONS</h3>
                <ul class="list2">
                    <li><a href="index.html#">Books</a></li>
                    <li><a href="index.html#">E-books & Audiobooks</a></li>
                    <li><a href="index.html#">Movies</a></li>
                    <li><a href="index.html#">Music & Recordings</a></li>
                    <li><a href="index.html#">Periodicals</a></li>
                    <li><a href="index.html#">Images</a></li>
                    <li><a href="index.html#">Braille & Talking Books</a></li>
                </ul>
                <div class="locationBox">
                    <h3><span class="fa fa-map-marker"></span>Location</h3>
                    <p>8901 Marmora Road,<br>Glasgow, D04 89GR.</p>
                </div>
                <div class="locationBox">
                    <h3><span class="fa fa-user"></span>Admission</h3>
                    <p>Free</p>
                </div>
                <div class="locationBox">
                    <h3><span class="fa fa-clock-o"></span>Open</h3>
                    <p>10 am - 9 pm daily</p>
                </div>
            </article>
    </div>
    </div>
{% endblock %}
