{% extends "base.html" %}
{% block title %}
 - {{view_user.username}}的个人中心
{% endblock %}
﻿{% block layoutright %}	
<div class="">
    <ul class="nav">
        <li><a href="/userprofile/{{view_user.id}}/"><img class="img_border" src="{{view_user.get_profile.get_avatar}}"></a>
            <a href="/userprofile/{{view_user.id}}/"> {{view_user}} </a>
        </li>
        <li>
            {% if is_self %}
                <a href="/userpanel/avatar/"> 更换头像</a>
            {% endif %}
        </li>
        {% if not is_self  %}
            {% if not friend %}
                <li><a href="/space/add_friend/{{view_user.id}}/">把{{view_user.username}}加为好友</a></li>
            {% else %}
                <li><a href="/space/drop_friend/{{friend.id}}/">取消与{{view_user.username}}的朋友关系</a></li>
            {% endif %}
            <li><a href="/msgbox/compose_message/{{view_user.id}}/">给{{view_user.username}}写信</a></li>
        {% endif %}
    </ul>
</div>
{% if is_self %}
<div class="userprofile bgpink roundC">
    <p class="greentitle">个人信息管理</p>
    <ul class="nav">
        <li><a href="/userprofile/updatepswd/"> 修改密码</a></li>
        <li><a href="/userprofile/edit/">更新个人信息	</a></li>
        {% load msgtags %}
        <li><a href="/msgbox/inbox/">我的信箱({% new_msg_count %}封未读)</a></li>
        <li><a href="/photos/upload/"><b class="red">上传照片</b></a></li>
    </ul>
</div>
{% endif %}

<p class="greentitle">{{view_user}}的简介</p>
<div class="alert alert-info">

	    <ul class="nav ">
		<li><a>加入时间:</a> <small>{{view_user.get_profile.create_date }}</small></li>
		{% if view_user.get_profile.blog %}
				<li>
			<a href="{{view_user.get_profile.blog}}" rel="nofollow" target="_blank">{%if is_self%}我 {%else%}{{view_user}} {%endif%}的Blog</a>
		</li>
		{% endif %}
		<li><a href="/userprofile/tags/{{view_user.id}}/"> {%if is_self%}我 {%else%}{{view_user}}{%endif%}的图片</a></li>
		<li><a href="/userprofile/collections/{{view_user.id}}/">{%if is_self%}我 {%else%}{{view_user}}{%endif%}的收藏</a></li>
		<li><a href="/userprofile/allcomments/{{view_user.id}}/">{%if is_self%}我 {%else%}{{view_user}} {%endif%}写过的评论</a></li>
		<li><a href="/userprofile/friends/{{view_user.id}}/">{%if is_self%}我 {%else%}{{view_user}} {%endif%}的朋友</a></li>
		<li><a href="/userprofile/followers/{{view_user.id}}/">关注{%if is_self%}我 {%else%}{{view_user}} {%endif%}的朋友</a></li>
	</ul>
</div>

{% if is_self %}
<div class="usernews bggrey roundC">
<h3 class="heading">{{view_user}}最新留言</h3>
<ul class="nav thumbnails">
{% for o in r_c %}
<li class="thumbnail span3 "><span style="color:#000;">{{o.get_short_comment}}</span><br/> <a href="/space/{{o.author.id}}/"> <span class="icon-user"></span>{{o.author.username}}</a></li>
{% endfor %}
</ul>
<div align="right"><a href="/userprofile/all_4me_comments/{{view_user.id}}/">更多&gt;&gt;&nbsp;</a>&nbsp;&nbsp;&nbsp;</div>
</div>
{% endif %}
{% endblock %}

{% block layoutmid %}
{% endblock %}