.login-form {
  position: relative;
  margin-top: 50%;
}

.row-nav-btn{
    margin-top: 10px;
}

.sponsor{
    text-align: center;
}

.box {
    width: 20%;
    display: inline-block;
    font-size: 32px;
    float:left;
    margin-top: 8px;
    color: white;
    text-align: center;
}
.box-blue {
    background: #00b0de;
}
.box-pink {
    background: #dc3a74;
}
.box-green {
    background: #b9d136;
}
.box-yellow {
    background: #efa92b;
}


