	*{
		margin:0px;
		padding:0px;
	}
	#like_douban{
		width:520px;
		margin:50px auto;
	}
	#list{
		width:520px;
		margin-left:420px;
	}
	#list .page{
		width:9px;
		height:7px;
		float:left;
		margin-top:12px;
		margin-left:3px;
		overflow:hidden;
		cursor:pointer;
		background:url(switch_dot_small.jpg) 0px 0px;
	}
	#list #back,#list #next{
		width:25px;
		height:32px;
		float:left;
	}
	#list #back{
		background:url(left_right.gif) 0px 32px;
	}
	#list #next{
		background:url(left_right.gif) 30px 0px;
		cursor:pointer;
	}
	#shelf{
		width:520px;
		margin:15px 0px 0px 0px;
		height:150px;
		position:relative;
		overflow:hidden;
	}
	#images{
		width:2100px;
		height:150px;
		position:relative;
		left:0px;
	}
	#shelf img{
		width:100px;
		height:150px;
		dispaly:block;
		float:left;
		margin-right:5px;
	}
	#clear{
		clear:both;
	}
	#author{
		position:absolute;
		bottom:40px;
		right:40px;
		color:#0066cc;
		font-weight:bold;
		font-family:微软雅黑;
	}