{% extends "base.html" %}
<title>{% block title %}虫虫读书 - 与世界一起品读好书{% endblock %}</title>
<script>
$(window).load(function() {
    $(function() {
            $('#foo1').carouFredSel({
				auto: false,
				responsive: true,
				width: '100%',
				scroll: 1,
                pagination  : "#foo2_pag",
				items: {
					height: 'auto',
					width:370,
					visible: {
						min: 1,
						max: 1
					}
				},
				mousewheel: true,
				swipe: {
					onMouse: true,
					onTouch: true
				}
			});
		});
    });
</script>
<!--[if lt IE 9]>
    <div style='text-align:center'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
  <![endif]-->
  <!--[if lt IE 9]><script src="../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
<!--header-->
{% block content %}
{% for item in list_images.object_list %}
            <div class="thumbnail">
                <figure>
                    <img src="{{item.cover_img}}"/>
                </figure>
    </div>
{% endfor %}
<div class="global">
    <div class="container">
        <div class="row">
            <section class="col-lg-9 col-md-9 col-sm-9 libBox">
                <h2>新书快递</h2>
                <a href="index.html#">更多</a>
                <div class="row">
                    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="thumb-pad1 maxheight">
                            <div class="thumbnail">
                                <figure><img src="{{ STATIC_URL }}img/page1_pic1.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="index.html#">Marta Healy</a>
                                    <br>
                                    <hr>
                                    <p>Sed in lacus ut enim adipiscing<br>aliquet</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="thumb-pad1 maxheight">
                            <strong>new</strong>
                            <div class="thumbnail">
                                <figure><img src="{{ STATIC_URL }}img/page1_pic2.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="index.html#">Anete Puga</a>
                                    <br>
                                    <hr>
                                    <p>Donec in velit vel ipsum auc<br>tor pulvinar</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="thumb-pad1 maxheight">
                            <div class="thumbnail">
                                <figure><img src="{{ STATIC_URL }}img/page1_pic3.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="index.html#">Gloria Mann</a>
                                    <br>
                                    <hr>
                                    <p>Suspendisse sollicitudin<br>velit sed leo</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="thumb-pad1 maxheight">
                            <strong>new</strong>
                            <div class="thumbnail">
                                <figure><img src="{{ STATIC_URL }}img/page1_pic4.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="index.html#">Laura Stegner</a>
                                    <br>
                                    <hr>
                                    <p>In faucibus orci luctus et<br>Ultrices posuere cubilia urae</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="thumb-pad1 maxheight">
                            <div class="thumbnail">
                                <figure><img src="{{ STATIC_URL }}img/page1_pic5.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="index.html#">Chandra Vancova</a>
                                    <br>
                                    <hr>
                                    <p>Vestibulum ante ipsum primiss<br>ut enim adipiscing aliquet</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <div class="thumb-pad1 maxheight">
                            <strong>new</strong>
                            <div class="thumbnail">
                                <figure><img src="{{ STATIC_URL }}img/page1_pic6.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="index.html#">Linda Grey</a>
                                    <br>
                                    <hr>
                                    <p>Sed in lacus ut enim adipiscing<br>aliquet</p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <article class="col-lg-3 col-md-3 col-sm-3">
                <form id="search" class="search" action="http://livedemo00.template-help.com/wt_48144/search.php" method="GET" accept-charset="utf-8">
                     <input type="text" name="s" value="Search" onFocus="if (this.value == 'Search') {this.value=''}" onBlur="if (this.value == '') {this.value='Search'}">
                     <a href="index.html#" onClick="document.getElementById('search').submit()"><img src="{{ STATIC_URL }}img/magnify.png" alt=""></a>
                </form>
                <h3><span class="fa fa-star"></span>NEW & NOTABLE</h3>
                <ul class="list2">
                    <li><a href="index.html#">Recent Activity</a></li>
                    <li><a href="index.html#">New Titles</a></li>
                    <li><a href="index.html#">Award Winners</a></li>
                    <li><a href="index.html#">Bestsellers</a></li>
                </ul>
                <h3><span class="fa fa-asterisk"></span>COLLECTIONS</h3>
                <ul class="list2">
                    <li><a href="index.html#">Books</a></li>
                    <li><a href="index.html#">E-books & Audiobooks</a></li>
                    <li><a href="index.html#">Movies</a></li>
                    <li><a href="index.html#">Music & Recordings</a></li>
                    <li><a href="index.html#">Periodicals</a></li>
                    <li><a href="index.html#">Images</a></li>
                    <li><a href="index.html#">Braille & Talking Books</a></li>
                </ul>
                <div class="locationBox">
                    <h3><span class="fa fa-map-marker"></span>Location</h3>
                    <p>8901 Marmora Road,<br>Glasgow, D04 89GR.</p>
                </div>
                <div class="locationBox">
                    <h3><span class="fa fa-user"></span>Admission</h3>
                    <p>Free</p>
                </div>
                <div class="locationBox">
                    <h3><span class="fa fa-clock-o"></span>Open</h3>
                    <p>10 am - 9 pm daily</p>
                </div>
            </article>
            <div class="clearfix"></div>
            <article class="col-lg-12 col-md-12 col-sm-12">
                <div class="list_carousel1 responsive clearfix">
                    <h2>虫虫读书,陪你走过阅读的美好时光</h2>
                    <ul id="foo1">
                        <li><p><span></span>书虫将自己裹在言辞之网中，只能看见别人思想反应出来的事物的朦胧影象. <em></em><strong>- W.哈兹里特</strong></p></li>
                        <li><p><span></span>阅读的最大理由是想摆脱平庸，早一天就多一份人生的精彩；迟一天就多一天平庸的困扰. <em></em><strong>- 余秋雨</strong></p></li>
                        <li><p><span></span>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. <em></em><strong>- Marsha Lopes</strong></p></li>
                        <li><p><span></span>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. <em></em><strong>- Marsha Lopes</strong></p></li>
                    </ul>
                    <div class="foo-btn clearfix">
                        <div class="pagination" id="foo2_pag"></div>
                    </div>
                </div>
            </article>
            <section class="col-lg-12 col-md-12 col-sm-12 eventsBox">
                <h2>latest news and events</h2>
                <a href="index.html#">View more</a>
                <div class="row">
                    <article class="col-lg-4 col-md-4 col-sm-4">
                        <div class="thumb-pad2 maxheight2">
                            <div class="thumbnail">
                                <figure><img src="{{ STATIC_URL }}img/page1_pic7.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="index.html#">Exhibition</a>
                                    <p class="tl">Sed aliquet sit amet, euismod in,auctor</p>
                                    <hr>
                                    <p class="title"><strong>Now through January 4</strong><br>Library for the Performing Arts</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-4 col-sm-4">
                        <div class="thumb-pad2 maxheight2">
                            <div class="thumbnail">
                                <figure><img src="{{ STATIC_URL }}img/page1_pic8.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="index.html#">Free Exhibition</a>
                                    <p class="tl">In pede mi, aliquet sit amet, euismod in,auctor</p>
                                    <hr>
                                    <p class="title"><strong>Now through January 4</strong><br>Library for the Performing Arts</p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-lg-4 col-md-4 col-sm-4">
                        <div class="thumb-pad2 maxheight2">
                            <div class="thumbnail">
                                <figure><img src="{{ STATIC_URL }}img/page1_pic9.jpg" alt=""></figure>
                                <div class="caption">
                                    <a href="index.html#">Exhibition</a>
                                    <p class="tl">Mauris accumsan nulla vel diam</p>
                                    <hr>
                                    <p class="title"><strong>Now through January 4</strong><br>Library for the Performing Arts</p>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}