{% load i18n %}
<div class="row">
    <header class="clearfix">
        <div class="container">
            <h1 class="navbar-brand navbar-brand_"><a href="/"><img src="{{ STATIC_URL }}img/logogo.png" alt=""></a></h1>
            <form class="navbar-form pull-left" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="书名/作者/ISBN" name="srch-term" id="srch-term">
                    <div class="input-group-btn">
                        <button class="btn btn-gray" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            {# {% if user.is_authenticated %} #}
                <div class="menuBox clearfix">
                    <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
                        <ul class="nav sf-menu clearfix">
                            <li class="active"><a href="{% url 'books_app.views.list_book' %}">首页</a></li>
                            <li ><a href="{% url 'books_app.views.wereview' %}">书评</a></li>
                        </ul>
                    </nav>
                </div>
                    <!--<ul class="nav navbar-nav pull-right">
                        <div class="row-nav-btn">
                            <li class="dropdown">
                                <a class="dropdown-toggle btn btn-default" data-toggle="dropdown">{{ user.username }}
                                    <b class="caret"></b></a>
                                <ul class="dropdown-menu" style="min-width: 100px" >
                                    <li><a href="{# {% url 'userena_profile_detail' user.username %} #}" style="text-align: center">资料</a></li>
                                    <li><a href="{% url "logout" %}" style="text-align: center">注销</a></li>
                                </ul>
                            </li>
                        </div>
                    </ul>-->
                {# {% endif %} #}
        </div>
    </header>
</div>