{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "重置密码 - 虫虫读书" %}{% endblock %}

{% block content %}
<div id="anony-reg">
    <div class="wrapper">
        <div class="login">
            {#<li><a class="btn btn-primary" href="{% url "login" %}">登录 </a></li>#}
            {#<li><a class="btn btn-default" href="{% url "register" %}">注册</a></li>#}
            <a class="btn btn-default" href="{% url "userena_signin" %}">登录</a><i></i>
            {# <li><a class="btn btn-default" href="{% url "userena_signup" %}">注册</a></li> #}
        </form>
        </div>
        <div class="reg">
            <a class="lnk-reg" href="{% url "register" %}">加入我们<i>注册</i></a>
            <div class="nb-info">
                <b>发现更多好书</b>
            </div>
        </div>
    </div>
</div>
<form action="" method="post">
  <fieldset>
    <legend>{% trans "重置密码" %}</legend>
    {% csrf_token %}
    {{ form.as_p }}
  </fieldset>
  <input type="submit" class="btn btn-gray btn-lg" value="{% trans "发送密码" %}" />
</form>
{% endblock %}
