{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
<div class="login-form">
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
    {{ form.non_field_errors }}
    {# {% for field in form %} #}
      <div class="form-group">
          <input name ="identification" type="text" class="form-control login-field" value="" placeholder="名字" id="login-name" />
          <label class="login-field-icon fui-user" for="login-name"></label>
      </div>
      <div class="form-group">
          <input name = "password" type="password" class="form-control login-field" value="" placeholder="密码" id="login-pass" />
          <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'remember_me' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <p>
    {{ field.label_tag }}
    {{ field }}
    </p>
    {% endif %}
    {# {% endfor %} #}
  </fieldset>
  <input type="submit" class="btn btn-lg btn-primary btn-block" value="{% trans "登录" %}" />
  <p class="forgot-password"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "忘记密码?" %}</a></p>
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
</div>
</div>
{% endblock %}
